<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.scene.rtegame">

    <!--    观众仍然可以使用APP-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@style/game_AppTheme"
            android:windowSoftInputMode="adjustUnspecified" />

<!--          authorities 指定您希望用于由 FileProvider 生成的内容 URI 的 URI 授权-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="io.agora.game.engine.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>